<!-- <div style="display: flex; align-items: center;">
    <mat-progress-spinner
      diameter="24"
      mode="indeterminate"
      color="primary"
      style="margin-right: 12px;"
    ></mat-progress-spinner>
    <span>Logging in... Please wait</span>
  </div> -->


  <div class="loading-snackbar">
    <mat-progress-spinner
      diameter="24"
      mode="indeterminate"
      color="primary"
      style="margin-right: 12px;"
    ></mat-progress-spinner>
    <span>Logging in... Please wait</span>
  </div>
  