<mat-toolbar color="primary" class="custom-toolbar">
  <span class="toolbar-title"><img src="assets/icons8-home-button-50.png" alt="home" class="home-icon"></span>

  <div class="spacer"></div>

  <div class="custom-search-wrapper">
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search" suggestion="true"
      class="custom-search-input"
      (keyup.enter)="onSearch()"
    />
    <img
      src="assets/icons8-search-100.png"
      alt="Search"
      class="search-icon"
      (click)="onSearch()"
    />
  </div>
  
  
    

  <a mat-button (click)="display()">Home</a>
  <a mat-button>About</a>
  <a mat-button>Contact</a>
</mat-toolbar>