<div class="page-container" >
    <div class="grid-wrapper">
    <ag-grid-angular 
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="{ sortable: true, filter: true }"
    [pagination]="true"
    [rowModelType]="'clientSide'"
    [paginationPageSize]="10"
    [paginationPageSizeSelector]="[10, 20]"
    [domLayout]="'autoHeight'"
    (paginationChanged)="onPaginationChanged($event)"
    (rowDoubleClicked)="onRowDoubleClicked($event)"
    [context]="{ componentParent: this }"

    [enableBrowserTooltips]="true"
    (gridReady)="onGridReady($event)"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate">

    </ag-grid-angular>

</div>
</div>

    <div *ngIf="showConfirmEditPopup" class="popup-overlay">
        <div class="popup-content">
        <p>Do you want to edit this record?</p>
        <div class="popup-buttons">
            <!-- [routerLink]="['/edit', selectedRowData?.filenumber]" -->
            <!-- <router-outlet></router-outlet> -->
        <button class="popup-btn"  (click)="openEditForm()">Edit</button>
        
            <button class="popup-btn" (click)="closeConfirmEditPopup()">Cancel</button>
        </div>
        </div>
    </div>

    <div *ngIf="loading" class="loader-overlay">
        <div class="spinner"></div>
      </div>

    <div *ngIf="deletePopup" class="popup-overlay">
        <div class="popup-content">
        <p>Do you want to delete this record?</p>
        <div class="popup-buttons">
        <button class="popup-btn"  (click)="deleteRecord()">Yes</button>
        
            <button class="popup-btn" (click)="closeConfirmDeletePopup()">Cancel</button>
        </div>
        </div>
    </div>