<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">      
        <label for="username">Username:</label>
        <input id="username" formControlName="username" placeholder="Username" required>
    
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" placeholder="Password" required>
      
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Email" required>
  
        <label for="phone">Phone Number:</label>
        <input id="phone" formControlName="phone" type="tel" placeholder="Phone Number" required>
  
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  
    <p [ngClass]="{'success': message.includes('success'), 'error': !message.includes('success')}">
      {{ message }}
    </p>
  
    <p>Already have an account? <a [routerLink]="['/login']">Login here</a></p>
  </div>
  